.header{
    width: 100vw;
    display: flex;
    height: 10vh;
}
.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
  
    justify-items: center;
    align-content: center;

}
.navBarlist{
    display: flex;
    justify-content: space-around;
}